html,body {
    font-family: Text;
    font-weight: 500;
    font-style: normal;
    height: 100%;
}

.logoPP {
    font-family: Text;
    font-weight: 800;
    font-style: normal;
}

.auth-fields {
    border: none; 
    border-radius: 10px; 
    border: solid 2px #ccc;

    width: 100%;
    padding: 20px 10px;
}

.card {
    border-radius: 10px;
    padding: 0px 15px;
}

.alert {
    margin: 2px 0px;
}

input {
    margin: 5px 0px;
}

a,.footer-links {
    color: #cfcfcf;
}

a:hover {
    color: #999;
}

.login {
    background-color: #92eb5b;
    color: white;
    border: solid 2px #73e362;
    font-family: articulat-cf, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 2px 0px;
    transition: all 0.3s ease-in-out;
}

.fa-brands {
    margin-right: 3px;    
}

.social-hover:hover {
    transform: scale(1.1);
}

#message-field {
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
}

/* .cmds { */
    
/* } */

.facebook {
    background-color: #4268af;
    color: white;
    border: solid 2px #25437c;
    font-family: Text;
    font-weight: 500;
    font-style: normal;
    margin: 3px 0px;
    transition: all 0.3s ease-in-out;
}

.google {
    background-color: #eba35b;
    color: white;
    border: solid 2px #a56e37;
    font-family: Text;
    font-weight: 500;
    font-style: normal;
    margin: 3px 0px;
    transition: all 0.3s ease-in-out;
}

.instagram {
    background-color: #bc2a8d;
    color: white;
    border: solid 2px #8a1e68;
    font-family: Text;
    font-weight: 500;
    font-style: normal;
    margin: 3px 0px;
    transition: all 0.3s ease-in-out;
}

.snapchat {
    background-color: #ece90d;
    color: white;
    border: solid 2px #c5c208;
    font-family: Text;
    font-weight: 500;
    font-style: normal;
    margin: 3px 0px;
    transition: all 0.3s ease-in-out;
}

.or-line {
    font-family: Text;
    font-weight: 800;
    font-style: normal;
    color: rgb(207, 207, 207);
}

.line {
   height:140px;
   float:left;
   margin-left:50%;
   border:0px solid rgb(207, 207, 207);
   width:2px;
   border-left-width:2px;
}

.no-account {
    font-family: Text;
    font-weight: 800;
    font-style: normal;
    background-color: rgb(221, 221, 221);
    color: grey;
}

.register-button {
    background-color:rgb(170, 170, 170);
    border: solid 2px grey;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 15px 10px;
    float: right;
    font-family: Text;
    font-weight: 800;
    font-style: normal;
    transition: all 0.3s ease-in-out;
}

.register-button:hover {
    transform: scale(1.1);
    background-color:rgb(170, 170, 170);
    border: solid 2px grey;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    padding: 15px 10px;
    float: right;
    font-family: Text;
    font-weight: 800;
    font-style: normal;
}


.radio-button {
    background-color: #5588e6;
    border-radius: 50px;
    border: solid 1px #2d59aa;
    height: 40px;
    width: 40px;
    float: right;
    margin-right: 3px;
    color: #fff;
}

.radio {
    background-color: #303242;
    padding: 20px 15px 10px 15px;
}

.playnow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 225px;
    display: inline-block;
    color:rgb(207, 207, 207);
}

/* STARTPAGINA CARD */

@media (min-width: 1200px) {
.container {
  max-width: 100%;
}}

.full-width {
    width: 100%;
}

/* Fonts */

@font-face {
    font-family: Text;
    src: url(../fonts/ABeeZee-Regular.ttf);
}

html {
    width: 100%;
    height: 100%;
}

.nav-button {
    width: 70px;
    height: 100%;
}

.house {
    background-color: rgb(113, 209, 57);
    border: none;
    /* border: solid 2px rgb(82, 131, 53); */
    transition: all 0.2s ease-in-out;
    color: rgb(82, 131, 53);
    
}

.house:hover {
    transform: scale(1.05);
    color: rgb(149, 255, 87);
}

.friends {
    background-color: rgb(255, 147, 46);
    border: none;
    /* border: solid 2px rgb(190, 111, 36); */
    transition: all 0.2s ease-in-out;
    color: rgb(190, 111, 36);
}

.friends:hover {
    transform: scale(1.05);
    color: rgb(255, 187, 123);
}

.shop {
    background-color: rgb(218, 215, 39);
    border: none;
    /* border: solid 2px rgb(141, 139, 36); */
    transition: all 0.2s ease-in-out;
    color: rgb(141, 139, 36);
}

.shop:hover {
    transform: scale(1.05);
    color: rgb(255, 252, 80);
}

.settings {
    background-color: rgb(185, 185, 185);
    border: none;
    /* border: solid 2px rgb(122, 122, 122); */
    transition: all 0.2s ease-in-out;
    color: rgb(122, 122, 122);
}

.settings:hover {
    transform: scale(1.05);
    color: rgb(235, 235, 235);
}

.logout {
    background-color: rgb(255, 46, 46);
    border: none;
    /* border: solid 2px rgb(182, 32, 32); */
    transition: all 0.2s ease-in-out;
    color: rgb(175, 39, 39);
}

.logout:hover {
    transform: scale(1.05);
    color: rgb(255, 115, 115);
}

.navbar {
    padding: 0 !important;
    align-items: stretch;
}

#message-field {
    width: 50%;
    height: 70%;
}

#cmds-help {
    margin-left: 10px;
    padding: 3px 9px;
    background-color: #5588e6;
    border: solid 1px #2d59aa;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

#cmds-help:hover {
    transform: scale(1.05);
    color: #2d59aa;
}

footer {
    background-color: #16192C;
}

#friendlist {
    background-color: #ccc;
    display: none;
}

.my-custom-scrollbar {
    position: relative;
    height: 100%;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}